<div id="{{ content.title|slugify }}" class="view py-5">
    <div class="container">
        <h2 class="h2-responsive mb-4 font-weight-bold text-center text-uppercase">
            {{ content.title }}
        </h2>
        <hr class="border-primary border-top-4 border-double w-12">
        <div class="lead text-center w-responsive mx-auto mb-5">
            {{ content.heading|safe }}
        </div>

        <div class="owl-carousel owl-theme" id="owl-partnership">
            {% for partner in partners %}
                <div class="item">
                    {% if partner.link %}
                        <a href="{{ partner.link }}" target="_blank" rel="noopener">
                    {% endif %}
                    <img src="{{ partner.logo.url }}" alt="{{ partner.name }}" loading="lazy">
                    {% if partner.link %}
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>