/***********************************
1. Global
***********************************/

:root {
    --primary-color: #547EBA;
    --secondary-color: #EE3A55;
    --primary-gradient: linear-gradient(to right, rgba(1, 36, 117, 0.7), rgba(24, 117, 209, 0.7));
    --transparent-blue-gradient: linear-gradient(to right, rgba(1, 36, 117, 0.7), rgba(24, 117, 209, 0.7));
}

html,
body,
header {
    height: 750px;
}

@media (min-width: 768px) {
    html,
    body,
    header {
        height: 600px;
    }
}

@media (min-width: 992px) {
    html,
    body,
    header {
        min-height: 100vh;
    }
}

/***********************************
1.1 Titles
***********************************/

/***********************************
1.2 Spacing
***********************************/

.py-9 {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.my-9 {
    margin-top: 9rem;
    margin-bottom: 9rem;
}

/***********************************
1.3 Typography
***********************************/

a {
    color: var(--primary-color);
}

b {
    font-weight: bold;
}

.font-3 {
    font-size: 1rem;
}

.font-7 {
    font-size: 6rem;
}

.letter-spacing-1 {
    letter-spacing: 0.25rem;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.hover-text-white:hover,
a.hover-text-white:hover {
    color: #FFF !important;
}

.hover-text-primary:hover {
    color: var(--primary-color) !important;
}

.focus-text-secondary:focus,
a.focus-text-secondary:focus {
    color: var(--secondary-color) !important;
}

.hover-underline:hover {
    text-decoration: underline;
}

/***********************************
1.4 Buttons
***********************************/

.btn {
    border-radius: 0;
    box-sizing: border-box;
}

/***********************************
1.5 Sizing
***********************************/

.w-12 {
    width: 12%;
}

/***********************************
1.6 Borders
***********************************/

.border-primary {
    border-color: var(--primary-color) !important;
}

.border-double {
    border-style: double;
}

.border-top-4 {
    border-top-width: 4px;
}

.border-radius-round {
    border-radius: 50%;
}

.hover-border-white:hover {
    border-color: #FFF;
}

.hover-border-secondary:hover {
    border-color: var(--secondary-color) !important;
}

/***********************************
1.7 Backgrounds
***********************************/

.primary {
    background: var(--primary-color);
}

.rgba-gradient {
    background: var(--transparent-blue-gradient);
}

.transparent-blue-gradient {
    background: var(--primary-gradient);
}

.hover-transparent-background:hover {
    background: transparent !important;
}

.hover-transparent-blue-gradient:hover {
    background: var(--primary-gradient);
}

.hover-secondary-background:hover {
    background: var(--secondary-color) !important;
}

/***********************************
2. Site sections
***********************************/

.background-view {
    background: no-repeat center fixed;
    background-size: cover;
}

.top-strip:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: -50px;
    width: 100%;
    height: 100px;
    background-color: #FFF;
    transform: skewY(4deg);
}

.bottom-strip:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 100px;
    background-color: #FFF;
    transform: skewY(-4deg);
}

.text-box {
    position: relative;
    margin: 80px 0 0 0;
    padding: 40px 20px 20px 20px;
    color: #666;
    text-align: justify;
    border: 1px solid var(--primary-color);
}

.text-box-title {
    position: absolute;
    top: -20px;
    left: 20px;
    display: inline-block;
    background: var(--primary-color);
    color: #FFF;
    padding: 10px;
    box-shadow: 1px 1px 5px 0 #00000042;
}

/***********************************
2.1 Navbar
***********************************/

.navbar.navbar-light .navbar-nav .nav-item .nav-link.active {
    text-shadow: 0 0 1px black;
}

.logo {
    height: 30px;
    transition-duration: 0.2s;
}

.navbar:not(.top-nav-collapse) .logo {
    height: 50px;
}

@media (min-width: 1200px) {
    .navbar:not(.top-nav-collapse) {
        background: inherit !important;
        box-shadow: none;
    }

    .navbar:not(.top-nav-collapse) .navbar-nav .nav-item .nav-link {
        color: #FFF;
    }
}

/***********************************
2.2 Home
***********************************/

/***********************************
2.3 About Us
***********************************/

.text-box-icon:before {
    content: "";
    position: absolute;
    top: -30px;
    right: 0;
    display: inline-block;
    background-image: url('../img/idea.svg');
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    transform: rotate(20deg);
}

/***********************************
2.4 Industries
***********************************/

.industry {
    transition-duration: 0.4s;
}

.industry:hover {
    background: #FFF;
    color: #000;
}

@media (min-width: 992px) {
    .industry {
        min-height: 350px;
    }
}

/***********************************
2.5 Portfolio
***********************************/

.filter {
    transition-duration: 0.4s;
}

.filter.selected {
    background: var(--transparent-blue-gradient);
    color: #FFF !important;
}

.media-box-container {
    border-radius: 0;
}

.media-box-image:hover .hover-display-none {
    display: none;
}

.media-boxes-load-more-button {
    color: var(--primary-color);
    font-size: 1rem !important;
    text-transform: uppercase;
    background: #FFF;
    border: 1px solid var(--primary-color);
    padding: 1rem;
    margin-top: 3rem;
}

.media-boxes-load-more-button:hover {
    background: var(--transparent-blue-gradient);
    color: #FFF;
}

.media-boxes-no-more-entries {
    display: none;
}

.media-box-image .media-box-thumbnail-container img {
    transition-duration: 0.4s;
}

.media-box-image:hover .media-box-thumbnail-container img {
    transform: scale(1.2) translate(-20px);
}

/***********************************
2.6 Pricing
***********************************/

#pricing {
    background: url("../img/pricing.jpg") no-repeat center fixed;
    background-size: cover;
}

.price {
    flex-basis: 31%;
    box-shadow: 2px 2px 10px #fff;
    transition-duration: 0.4s;
}

.price:hover {
    box-shadow: 4px 4px 40px #fff;
    transform: scale(1.02);
}

.top-price {
    width: 170px;
    height: 170px;
}

/***********************************
2.7 Testimonials
***********************************/

.testimonials-image {
    width: 150px !important;
}

/***********************************
2.8 Regulations
***********************************/

.certification {
    width: 100px;
}

.onoffswitch {
    position: relative;
    width: 70px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    padding: 2px;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    background-clip: padding-box;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.onoffswitch-inner:before {
    content: "Oui";
    padding-left: 15px;
    background-color: var(--primary-color);
    color: #FFF;
}

.onoffswitch-label:hover .onoffswitch-inner:before {
    background: #286090;
}

.onoffswitch-inner:after {
    content: "Non";
    padding-right: 15px;
    background-color: #CCCCCC;
    color: #666;
    text-align: right;
}

.onoffswitch-label:hover .onoffswitch-inner:after {
    background: #adadad;
}

.onoffswitch-switch {
    display: block;
    width: 15px;
    margin: 0px;
    background: #FFF;
    border-radius: 4px;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 55px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}

.irs span {
    transition-duration: 0.4s;
}

.scenario_illustration {
    position: relative;
    top: 0;
    margin-left: 0;
    margin-bottom: 30px;
    box-shadow: 1px 1px 5px 0 #00000042;
    background: #fff;
    perspective: 600px;
}

.scenario_altitude {
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 1px solid black;
    transition-duration: 1s;
}

.scenario_altitude:after {
    content: ">";
    position: absolute;
    left: -3px;
    top: -10px;
    color: black;
    transform: rotate(-90deg);
    display: inline-block;
}

.scenario_altitude_50 {
    height: 75%;
}

.scenario_altitude_150 {
    height: 90%;
}

.scenario_distance {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    border-top: 1px solid black;
    text-align: right;
    transition-duration: 1s;
}

.scenario_distance:after {
    content: ">";
    position: absolute;
    right: 0;
    top: -10px;
    color: black;
}

.scenario_distance_100 {
    width: 50%;
}

.scenario_distance_200 {
    width: 60%;
}

.scenario_distance_400 {
    width: 70%;
}

.scenario_distance_1000 {
    width: 85%;
}

.scenario_distance_∞ {
    width: 98%;
}

.scenario_altitude_text {
    position: absolute;
    left: 0;
}

.scenario_drone {
    position: absolute !important;
    transition-duration: 2s;
}

.scenario_drone_weight_2 {
    width: 15%;
}

.scenario_drone_weight_8 {
    width: 22%;
}

.scenario_drone_weight_25 {
    width: 30%;
}

.scenario_drone_distance_100 {
    left: 30%;
}

.scenario_drone_distance_200 {
    left: 40%;
}

.scenario_drone_distance_400 {
    left: 50%;
}

.scenario_drone_distance_1000 {
    left: 60%;
}

.scenario_drone_distance_∞ {
    left: 70%;
}

.scenario_drone_altitude_50 {
    top: 35%;
}

.scenario_drone_altitude_150 {
    top: 10%;
}

.scenario_controller {
    position: absolute !important;
    bottom: 0;
    width: 16%;
}

.scenario_tree {
    transform: rotateX(180deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.320, 1);
    backface-visibility: hidden;
    position: absolute !important;
}

.scenario_tree_1 {
    bottom: 0;
    left: 2%;
    width: 25%;
}

.scenario_tree_2 {
    bottom: 0;
    left: 8%;
    width: 20%;
}

.scenario_tree_3 {
    bottom: 0;
    left: 15%;
    width: 20%;
}

.scenario_city {
    width: 100%;
    height: 100%;
    position: absolute !important;
    transform: rotateX(180deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.320, 1);
    backface-visibility: hidden;
}

.scenario_countryside {
    width: 100%;
    position: relative;
    transform: rotateX(180deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.320, 1);
    backface-visibility: hidden;
}

.scenario_visible {
    transform: rotateX(0deg);
}

@media (min-width: 992px) {
    .scenario_illustration {
        top: -60px;
        margin-left: 10px;
    }

    .scenario_altitude_text {
        left: -35px;
    }
}

/***********************************
2.9 Contact
***********************************/

/***********************************
2.10 Footer
***********************************/

#scroll-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    text-align: center;
    display: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#scroll-top i {
    font-size: 18px;
    padding: 8px;
    color: #fff;
    background: linear-gradient(to right, rgba(1, 36, 117, 0.7), rgba(24, 117, 209, 0.7));
    box-shadow: 0;
    z-index: 999999;
}

#scroll-top:hover {
    bottom: 25px;
}

#loader {
    background: url('../img/loader.gif') center no-repeat black;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
