{% load static %}
{% load compress %}

<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %}{{ configuration.title }}</title>
    <meta name="description" content="{{ configuration.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ configuration.favicon.url }}">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ configuration.title }}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:image" content="http://{{ request.get_host }}{{ configuration.networks_logo.url }}"/>
    <meta property="og:description" content="{{ configuration.description }}"/>
    <meta property="og:locale" content="fr_FR"/>

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
          integrity="sha256-nXBV7Gr2lU0t+AwKsnS05DYtzZ81oYTXS6kj7LBQHfM=" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"
          integrity="sha256-nv5vSBJAzPy+07+FvRvhV2UPpH87H/UnWMrA6nbEg7U=" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "onepage/css/mdb.min.css" %}">
    <link rel="stylesheet" href="{% static "onepage/css/jquery.fancybox.min.css" %}">
    <link rel="stylesheet" href="{% static "onepage/css/mediaBoxes.min.css" %}">
    <link rel="preload" href="{% static "onepage/css/tarteaucitron.css" %}" as="style" crossorigin="anonymous">
    <link rel="preload" href="{% static "onepage/font/roboto/Roboto-Bold.woff2" %}" as="font" crossorigin="anonymous">
    <link rel="preload" href="{% static "onepage/font/roboto/Roboto-Light.woff2" %}" as="font" crossorigin="anonymous">
    <link rel="preload" href="{% static "onepage/font/roboto/Roboto-Regular.woff2" %}" as="font"
          crossorigin="anonymous">
    {% compress css %}
        <link rel="stylesheet" href="{% static "onepage/css/style.css" %}">
    {% endcompress %}
    {{ configuration.analytics|safe }}
</head>

<body data-spy="scroll" data-target="#navbar-links" data-offset="200">

{% block body %}{% endblock %}

<!-- JavaScript-->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"
        crossorigin="anonymous"></script>
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% compress js %}
    <script src="{% static "onepage/js/jquery.isotope.min.js" %}" async defer></script>
    <script src="{% static "onepage/js/jquery.imagesLoaded.min.js" %}" async defer></script>
    <script src="{% static "onepage/js/jquery.transit.min.js" %}" async defer></script>
    <script src="{% static "onepage/js/jquery.easing.min.js" %}" async defer></script>
    <script src="{% static "onepage/js/waypoints.min.js" %}" async defer></script>
    <script src="{% static "onepage/js/modernizr.custom.min.js" %}" async defer></script>
    <script src="{% static "onepage/js/jquery.fancybox.min.js" %}" async defer></script>
    <script src="{% static "onepage/js/jquery.mediaBoxes.min.js" %}" async defer></script>
    <script src="{% static "onepage/js/mdb.min.js" %}" defer></script>
    <script src="{% static "onepage/js/tarteaucitron.js" %}" async defer></script>
    <script src="{% static "onepage/js/tarteaucitron.services.js" %}" defer></script>
    <script src="{% static "onepage/js/script.js" %}" defer></script>
{% endcompress %}
</body>

</html>