{% load static %}
<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>{{ configuration.title }}</title>
    <meta name="description" content="{{ configuration.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ configuration.favicon.url }}">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
          integrity="sha256-nXBV7Gr2lU0t+AwKsnS05DYtzZ81oYTXS6kj7LBQHfM=" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"
          integrity="sha256-nv5vSBJAzPy+07+FvRvhV2UPpH87H/UnWMrA6nbEg7U=" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "onepage/css/mdb.min.css" %}">
    <link rel="stylesheet" href="{% static "onepage/css/jquery.fancybox.min.css" %}">
    <link rel="stylesheet" href="{% static "onepage/css/mediaBoxes.min.css" %}">
    <link rel="stylesheet" href="{% static "onepage/css/style.css" %}">
</head>

<body class="overflow-hidden" data-spy="scroll" data-target="#navbar-links" data-offset="200">
<header>
    <!--Navbar -->
    {% include "navbar/navbar.html" with configuration=configuration home=sections.home about_us=sections.about_us industries=sections.industries portfolio=sections.portfolio pricing=sections.pricing equipment=sections.equipment testimonials=sections.testimonials regulations=sections.regulations contact=sections.contact %}
    <!--/.Navbar -->

    <!--Introduction -->
    {% include "home/home.html" with content=sections.home.content about_us=sections.about_us contact=sections.contact %}
    <!--/.Introduction -->
</header>

<main>
    <!--About Us -->
    {% include "aboutus/about-us.html" with content=sections.about_us.content %}
    <!--/.About Us -->

    <!--Industries -->
    {% include "industries/industries.html" with content=sections.industries.content industries=sections.industries.industries %}
    <!--/.Industries -->

    <!--Portfolio -->
    {% include "portfolio/portfolio.html" with content=sections.portfolio.content medias=sections.portfolio.medias %}
    <!--/.Portfolio -->

    <!--Pricing -->
    <div id="pricing" class="view text-white top-strip bottom-strip">
        <div class="transparent-blue-gradient d-flex justify-content-center align-items-center py-9">
            <div class="container">
                <h2 class="h2-responsive mb-4 font-weight-bold text-center text-uppercase">Prestations</h2>
                <hr class="border-white border-top-4 border-double w-12">
                <p class="lead text-center w-responsive mx-auto mb-5">
                    Nous disposons d'un ensemble de prestations de base qui conviennent à la plupart des situations.
                    Si vous ne trouvez pas de prestation pour votre projet, n'hésitez pas à nous contacter et nous
                    trouverons une réponse adaptée.
                </p>

                <div class="d-flex flex-column flex-md-row flex-wrap justify-content-around">
                    <div class="price white mb-4 p-4 text-center d-flex flex-column">
                        <div class="top-price transparent-blue-gradient border-radius-round mx-auto mt-5 mb-4 d-flex flex-column align-items-center justify-content-center">
                            <span>À partir de</span>
                            <p class="display-4 font-weight-bold">999€</p>
                        </div>
                        <h3 class="black-text h3-responsive font-weight-normal mt-4 text-uppercase">
                            Forfait journée vidéo
                        </h3>
                        <h4 class="lead mb-4 text-muted">Exemple de contenu</h4>
                        <div class="black-text mb-4 flex-grow-1">
                            <p>1 pilote + 1 cadreur</p>
                            <p>1 déclaration en préfecture</p>
                        </div>
                        <a href="#contact"
                           class="font-3 text-uppercase text-white border border-primary white transparent-blue-gradient hover-transparent-background hover-text-primary p-3 mb-3 mr-5 ml-5">Sélectionner</a>
                    </div>
                    <div class="price white mb-4 p-4 text-center d-flex flex-column">
                        <div class="top-price transparent-blue-gradient border-radius-round mx-auto mt-5 mb-4 d-flex flex-column align-items-center justify-content-center">
                            <span>À partir de</span>
                            <p class="display-4 font-weight-bold">999€</p>
                        </div>
                        <h3 class="black-text h3-responsive font-weight-normal mt-4 text-uppercase">
                            Forfait journée photo
                        </h3>
                        <h4 class="lead mb-4 text-muted">Exemple de contenu</h4>
                        <div class="black-text mb-4 flex-grow-1">
                            <p>1 pilote + 1 cadreur</p>
                            <p>1 déclaration en préfecture</p>
                        </div>
                        <a href="#contact"
                           class="font-3 text-uppercase text-white border border-primary white transparent-blue-gradient hover-transparent-background hover-text-primary p-3 mb-3 mr-5 ml-5">Sélectionner</a>
                    </div>
                    <div class="price white mb-4 p-4 text-center d-flex flex-column">
                        <div class="top-price transparent-blue-gradient border-radius-round mx-auto mt-5 mb-4 d-flex flex-column align-items-center justify-content-center">
                            <span>À partir de</span>
                            <p class="display-4 font-weight-bold">599€</p>
                        </div>
                        <h3 class="black-text h3-responsive font-weight-normal mt-4 text-uppercase">
                            Forfait 1/2 journée
                        </h3>
                        <h4 class="lead mb-4 text-muted">Exemple de contenu</h4>
                        <div class="black-text mb-4 flex-grow-1">
                            <p>1 pilote + 1 cadreur</p>
                            <p>1 déclaration en préfecture</p>
                        </div>
                        <a href="#contact"
                           class="font-3 text-uppercase text-white border border-primary white transparent-blue-gradient hover-transparent-background hover-text-primary p-3 mb-3 mr-5 ml-5">Sélectionner</a>
                    </div>
                    <div class="price white mb-4 p-4 text-center d-flex flex-column">
                        <div class="top-price transparent-blue-gradient border-radius-round mx-auto mt-5 mb-4 d-flex flex-column align-items-center justify-content-center">
                            <span>À partir de</span>
                            <p class="display-4 font-weight-bold">1499€</p>
                        </div>
                        <h3 class="black-text h3-responsive font-weight-normal mt-4 text-uppercase">
                            Prestation 2 vols
                        </h3>
                        <h4 class="lead mb-4 text-muted">Exemple de contenu</h4>
                        <div class="black-text mb-4 flex-grow-1">
                            <p>1 pilote + 1 cadreur</p>
                            <p>1 déclaration en préfecture</p>
                        </div>
                        <a href="#contact"
                           class="font-3 text-uppercase text-white border border-primary white transparent-blue-gradient hover-transparent-background hover-text-primary p-3 mb-3 mr-5 ml-5">Sélectionner</a>
                    </div>
                    <div class="price white mb-4 p-4 text-center d-flex flex-column">
                        <div class="top-price transparent-blue-gradient border-radius-round mx-auto mt-5 mb-4 d-flex flex-column align-items-center justify-content-center">
                            <span>À partir de</span>
                            <p class="display-4 font-weight-bold">999€</p>
                        </div>
                        <h3 class="black-text h3-responsive font-weight-normal mt-4 text-uppercase">
                            Travail aérien
                        </h3>
                        <h4 class="lead mb-4 text-muted">Diagnostic...</h4>
                        <div class="black-text mb-4 flex-grow-1">
                            <p>1 pilote + 1 cadreur</p>
                            <p>1 déclaration en préfecture</p>
                        </div>
                        <a href="#contact"
                           class="font-3 text-uppercase text-white border border-primary white transparent-blue-gradient hover-transparent-background hover-text-primary p-3 mb-3 mr-5 ml-5">Sélectionner</a>
                    </div>
                    <div class="price white mb-4 p-4 text-center d-flex flex-column">
                        <div class="top-price transparent-blue-gradient border-radius-round mx-auto mt-5 mb-4 d-flex flex-column align-items-center justify-content-center">
                            <p class="display-4 font-weight-bold">Sur devis</p>
                        </div>
                        <h3 class="black-text h3-responsive font-weight-normal mt-4 text-uppercase">
                            Pack film entreprise
                        </h3>
                        <h4 class="lead mb-4 text-muted">Exemple de contenu</h4>
                        <div class="black-text mb-4 flex-grow-1">
                            <p>1 pilote + 1 cadreur</p>
                            <p>1 déclaration en préfecture</p>
                            <p>Réseau <b><a href="https://impulsion-creative.fr" target="_blank">Impulsion</a></b>
                            </p>
                        </div>
                        <a href="#contact"
                           class="font-3 text-uppercase text-white border border-primary white transparent-blue-gradient hover-transparent-background hover-text-primary p-3 mb-3 mr-5 ml-5">Sélectionner</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.Pricing -->

    <!--Equipment -->
    {% include "equipment/equipment.html" with content=sections.equipments.content equipments=sections.equipments.equipments %}
    <!--/.Equipment -->

    <!--Testimonials -->
    {% include "testimonials/testimonials.html" with content=sections.testimonials.content testimonials=sections.testimonials.testimonials %}
    <!--/.Testimonials -->

    <!--Regulations -->
    {% include "regulations/regulations.html" with content=sections.regulations.content %}
    <!--/.Regulations -->

    <!--Contact Us -->
    {% include "contact/contact.html" with content=sections.contact.content %}
    <!--/.Contact Us -->

    <!--Partnership -->
    {% include "partnership/partnership.html" with content=sections.partnership.content partners=sections.partnership.partners %}
    <!--/.Partnership -->
</main>

<!--/.Footer -->
{% include "footer/footer.html" with configuration=configuration content=sections.footer.content %}
<!--/.Footer -->


<!-- JavaScript-->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
<script src="{% static "onepage/js/jquery.isotope.min.js" %}"></script>
<script src="{% static "onepage/js/jquery.imagesLoaded.min.js" %}"></script>
<script src="{% static "onepage/js/jquery.transit.min.js" %}"></script>
<script src="{% static "onepage/js/jquery.easing.min.js" %}"></script>
<script src="{% static "onepage/js/waypoints.min.js" %}"></script>
<script src="{% static "onepage/js/modernizr.custom.min.js" %}"></script>
<script src="{% static "onepage/js/jquery.fancybox.min.js" %}"></script>
<script src="{% static "onepage/js/jquery.mediaBoxes.dropdown.min.js" %}"></script>
<script src="{% static "onepage/js/jquery.mediaBoxes.min.js" %}"></script>
<script src="{% static "onepage/js/mdb.min.js" %}"></script>
<script src="{% static "onepage/js/script.js" %}"></script>
</body>

</html>