{% extends "onepage/base.html" %}

{% block body %}
    <header>
        <!--Navbar -->
        {% include "navbar/navbar.html" with configuration=configuration home=sections.home about_us=sections.about_us industries=sections.industries portfolio=sections.portfolio pricing=sections.pricing equipment=sections.equipment testimonials=sections.testimonials regulations=sections.regulations contact=sections.contact %}
        <!--/.Navbar -->

        <!--Introduction -->
        {% include "home/home.html" with content=sections.home.content about_us=sections.about_us contact=sections.contact %}
        <!--/.Introduction -->
    </header>

    <main>
        <!--About Us -->
        {% include "aboutus/about-us.html" with content=sections.about_us.content infos=sections.about_us.infos %}
        <!--/.About Us -->

        <!--Industries -->
        {% include "industries/industries.html" with content=sections.industries.content industries=sections.industries.industries %}
        <!--/.Industries -->

        <!--Portfolio -->
        {% include "portfolio/portfolio.html" with content=sections.portfolio.content medias=sections.portfolio.medias %}
        <!--/.Portfolio -->

        <!--Pricing -->
        {% include "pricing/pricing.html" with content=sections.pricing.content prices=sections.pricing.prices contact=sections.contact %}
        <!--/.Pricing -->

        <!--Equipment -->
        {% include "equipment/equipment.html" with content=sections.equipment.content equipments=sections.equipment.equipments %}
        <!--/.Equipment -->

        <!--Testimonials -->
        {% include "testimonials/testimonials.html" with content=sections.testimonials.content testimonials=sections.testimonials.testimonials %}
        <!--/.Testimonials -->

        <!--Regulations -->
        {% include "regulations/regulations.html" with content=sections.regulations.content %}
        <!--/.Regulations -->

        <!--Contact Us -->
        {% include "contact/contact.html" with content=sections.contact.content %}
        <!--/.Contact Us -->

        <!--Partnership -->
        {% include "partnership/partnership.html" with content=sections.partnership.content partners=sections.partnership.partners %}
        <!--/.Partnership -->
    </main>

    <!--/.Footer -->
    <footer>
        {% include "footer/footer.html" with configuration=configuration content=sections.footer.content %}
    </footer>
    <!--/.Footer -->

{% endblock %}