{% load static %}
<div id="{{ content.title|slugify }}" class="view text-white top-strip bottom-strip">
    <div class="transparent-blue-gradient d-flex justify-content-center align-items-center py-9">
        <div class="container">
            <h2 class="h2-responsive mb-4 font-weight-bold text-center text-uppercase">
                {{ content.title }}
            </h2>
            <hr class="border-white border-top-4 border-double w-12">
            <div class="lead text-center w-responsive mx-auto mb-5">
                {{ content.heading|safe }}
            </div>
            <div class="row mt-4">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-10 mx-auto form-header primary accent-1">
                                    <h3 class="h3-responsive mt-2"><i class="fas fa-envelope"></i>
                                        Écrivez-nous
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <form class="col-lg-8 mb-4 mb-lg-0">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <i class="fas fa-user prefix grey-text"></i>
                                                <input type="text" id="form-name" class="form-control" required>
                                                <label for="form-name">Votre nom</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <i class="fas fa-envelope prefix grey-text"></i>
                                                <input type="email" id="form-email" class="form-control" required>
                                                <label for="form-email">Votre email</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="md-form">
                                                <i class="fas fa-tag prefix grey-text"></i>
                                                <input type="text" id="form-subject" class="form-control" required>
                                                <label for="form-subject">Sujet</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="md-form">
                                                <i class="fas fa-pencil-alt prefix grey-text"></i>
                                                <textarea id="form-message"
                                                          class="form-control md-textarea overflow-auto"
                                                          rows="4" required></textarea>
                                                <label for="form-message">Message</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn primary hover-text-white" id="form-submit">
                                            Envoyer
                                        </button>
                                    </div>
                                </form>
                                <div class="col-lg-4 text-center black-text my-auto">
                                    <a class="btn-floating primary accent-1">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </a>
                                    <p>{{ content.address }}</p>
                                    <a href="tel:{{ content.phone|cut:" " }}" class="btn-floating primary accent-1">
                                        <i class="fas fa-phone"></i>
                                    </a>
                                    <p><a href="tel:{{ content.phone|cut:" " }}">{{ content.phone }}</a></p>
                                    <a class="btn-floating primary accent-1"
                                       href="mailto:{{ content.email }}">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                    <p><a href="mailto:lesfilmsdeole@gmail.com">{{ content.email }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <p class="text-center">
                        {% if content.facebook %}
                            <a href="{{ content.facebook }}"
                               target="_blank">
                                <img src="{% static "contact/facebook.png" %}" width="30"
                                     class="d-inline-block" alt="Facebook">
                            </a>
                        {% endif %}
                        {% if content.youtube %}
                            <a href="{{ content.youtube }}"
                               target="_blank">
                                <img src="{% static "contact/youtube.png" %}" width="30"
                                     class="d-inline-block" alt="Youtube">
                            </a>
                        {% endif %}
                        {% if content.vimeo %}
                            <a href="{{ content.vimeo }}" target="_blank">
                                <img src="{% static "contact/vimeo.png" %}" width="30"
                                     class="d-inline-block" alt="Viméo">
                            </a>
                        {% endif %}
                    </p>
                    {% if content.facebook_plugin %}
                        <iframe src="{{ content.facebook_plugin }}" class="w-100 border-0" height="500"
                                allow="encrypted-media"></iframe>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>