{% load static %}
<div id="{{ content.title|slugify }}" class="view background-view text-white top-strip bottom-strip"
        {% if content.background %}
     style="background-image: url('{{ content.background.url }}')"
        {% endif %}>
    <div class="transparent-blue-gradient d-flex justify-content-center align-items-center py-9">
        <div class="container">
            <h2 class="h2-responsive mb-4 font-weight-bold text-center text-uppercase">
                {{ content.title }}
            </h2>
            <hr class="border-white border-top-4 border-double w-12">
            <div class="lead text-center w-responsive mx-auto mb-5">
                {{ content.heading|safe }}
            </div>
            <div class="row mt-4">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-10 mx-auto form-header primary accent-1">
                                    <h3 class="h3-responsive mt-2"><i class="fas fa-envelope"></i>
                                        Écrivez-nous
                                    </h3>
                                </div>
                                {% if content.map %}
                                    <iframe src="{{ content.map|safe }}" class="w-100 border-0" height="300"
                                            allowfullscreen="" title="Position"></iframe>
                                {% endif %}
                            </div>
                            <div class="row">
                                <form id="contact-form" action="{% url "send_message" %}" method="POST"
                                      class="col-lg-8 mb-4 mb-lg-0" novalidate>
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <i class="fas fa-user prefix grey-text"></i>
                                                <input type="text" id="form-name" name="name"
                                                       class="form-control mb-0 validate" required>
                                                <label for="form-name">Votre nom</label>
                                                <div class="invalid-feedback ml-5">
                                                    Veuillez entrer un nom
                                                </div>
                                                <span class="black-text ml-5"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <i class="fas fa-envelope prefix grey-text"></i>
                                                <input type="email" id="form-email" name="email"
                                                       class="form-control mb-0 validate" required>
                                                <label for="form-email">Votre email</label>
                                                <div class="invalid-feedback ml-5">
                                                    Veuillez entrer un email valide
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="md-form">
                                                <i class="fas fa-tag prefix grey-text"></i>
                                                <input type="text" id="form-subject" name="subject"
                                                       class="form-control mb-0 validate" required>
                                                <label for="form-subject">Sujet</label>
                                                <div class="invalid-feedback ml-5">
                                                    Veuillez entrer un sujet
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="md-form">
                                                <i class="fas fa-pencil-alt prefix grey-text"></i>
                                                <textarea id="form-message" name="message"
                                                          class="form-control md-textarea overflow-auto mb-0 validate"
                                                          rows="4" required></textarea>
                                                <label for="form-message">Message</label>
                                                <div class="invalid-feedback ml-5">
                                                    Veuillez entrer un message
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="g-recaptcha d-inline-block"
                                             data-sitekey="6Le1rKMUAAAAAHKkFh7HOnMwtd-MwkqEq5VIeHwA"></div>
                                        <div class="invalid-feedback">
                                            Veuillez effectuer la vérification humaine
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn primary hover-text-white">
                                            Envoyer
                                        </button>
                                    </div>
                                </form>
                                <div class="col-lg-4 text-center black-text my-auto">
                                    <a href="tel:{{ content.phone|cut:" " }}" class="btn-floating primary accent-1"
                                       aria-label="Phone number">
                                        <i class="fas fa-phone"></i>
                                    </a>
                                    <p>
                                        <a href="tel:{{ content.phone|cut:" " }}"
                                           aria-label="Phone number">{{ content.phone }}</a>
                                    </p>
                                    <a class="btn-floating primary accent-1"
                                       href="mailto:{{ content.email }}" aria-label="Addresse email">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                    <p><a href="mailto:{{ content.email }}">{{ content.email }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <p class="text-center">
                        {% if content.facebook %}
                            <a href="{{ content.facebook }}" target="_blank" rel="noopener">
                                <img src="{% static "contact/facebook.png" %}" width="30"
                                     class="d-inline-block" alt="Facebook" loading="lazy">
                            </a>
                        {% endif %}
                        {% if content.youtube %}
                            <a href="{{ content.youtube }}" target="_blank" rel="noopener">
                                <img src="{% static "contact/youtube.png" %}" width="30"
                                     class="d-inline-block" alt="Youtube" loading="lazy">
                            </a>
                        {% endif %}
                        {% if content.vimeo %}
                            <a href="{{ content.vimeo }}" target="_blank" rel="noopener">
                                <img src="{% static "contact/vimeo.png" %}" width="30"
                                     class="d-inline-block" alt="Viméo" loading="lazy">
                            </a>
                        {% endif %}
                    </p>
                    {% if content.facebook_plugin %}
                        <iframe src="{{ content.facebook_plugin }}" class="w-100 border-0" height="500"
                                allow="encrypted-media" title="Facebook Page" loading="lazy"></iframe>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>